.artist-tiles {
    @include grid();
    @include grid-column(3, 0px);
    .tile {
        height: 365px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: em(30px);
        transition: box-shadow $transition-time $transition-easing;
        cursor: pointer;
        p {
            margin: 0;
            text-align: center;
            font-weight: $w-bold;
            transform: translateY(20px);
            opacity: 0;
            transition: transform $transition-time $transition-easing, opacity $transition-time $transition-easing;
            text-shadow: 0 0 5px rgba(get-colour('black'), 0.5);
        }
        &:hover {
            box-shadow: inset 0px 0px 0px em(20px) get-colour('white');
            p {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

.artist-select {
    .search-form {
        max-width: 100%;
        input {
            &::-webkit-input-placeholder {
                color: rgba(get-colour('white'), 0.5);
            }
        }
    }
    .available-tracks {
        .track {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: em(20px) em(30px);
            background-color: transparent;
            transition: background-color $transition-time $transition-easing;
            &:hover {
                background-color: rgba(get-colour('grey-blue'), 0.75);
            }
            .content {
                h3 {
                    margin: 0;
                    line-height: 1.1;
                }
                p {
                    margin: 0;
                    font-size: $caption;
                    color: get-colour('caption');
                }
            }
            .actions {
                a {
                    display: inline-block;
                    background: transparent;
                    border-width: 2px;
                    padding: 0;
                    width: 25px;
                    height: 25px;
                    &:hover {
                        background: get-colour('highlight');
                    }
                }
            }
        }
        > .separator {
            &:last-child {
                display: none;
            }
        }
    }
}