.song-grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 20px;
    height: 100vh;
    .store {
        background: #fafafa;
        padding: 5px;
        .draggable:not(:first-child) {
            margin-top: 5px;
        }
    }
    .draggable {
        width: auto;
        display: block;
        padding: 25px;
        background: #eee;
        transition: transform 250ms ease-in-out, background 250ms ease-in-out;
        &.hovered {
            background: darken(#eee, 10%);
            &.insert-after {
                transform: perspective(1000px) rotateX(-20deg) rotateY(0deg);
                background: linear-gradient(to top, darken(#eee, 20%) 0%, darken(#eee, 10%) 100%);
            }
            &.insert-before {
                transform: perspective(1000px) rotateX(20deg) rotateY(0deg);
                background: linear-gradient(to bottom, darken(#eee, 20%) 0%, darken(#eee, 10%) 100%);
            }
        }
    }
    .droppable:not(.store) {
        .draggable {
            &.hovered {
                &.insert-after {
                    transform: perspective(1000px) rotateX(0deg) rotateY(20deg);
                    background: linear-gradient(to left, darken(#eee, 20%) 0%, darken(#eee, 10%) 100%);
                }
                &.insert-before {
                    transform: perspective(1000px) rotateX(0deg) rotateY(-20deg);
                    background: linear-gradient(to right, darken(#eee, 20%) 0%, darken(#eee, 10%) 100%);
                }
            }
        }
    }
    .grid {
        .row {
            display: grid;
            grid-template-columns: 30px auto;
            .row-label {
                background: black;
                color: white;
                text-align: center;
            }
            .droppable {
                background: #fafafa;
                .draggable {
                    float: left;
                    border: 1px solid black;
                }
                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }
            }
        }
    }
}