input {
    display: block;
    width: 100%;
    border-radius: $border-radius;
    font-family: $font-family;
    font-size: em($base-font-size);
    color: inherit;
    border: 1px solid get-colour('white');
    padding: calc-em($input-padding-v, $base-font-size) calc-em($input-padding-h, $base-font-size);
}

label {
    font-size: calc-em($label, $base-font-size);
    margin: 0 0 em(5px);
    display: block;
    line-height: 1;
    text-transform: uppercase;
    color: inherit;
}

.input-group {
    margin-bottom: em(20px);
    & + .form-actions {
        margin-top: em(35px);
    }
}

.form-actions {
    margin-top: em($input-padding-h);
    padding-top: em($input-padding-h);
    border-top: 1px solid get-colour('border');
    text-align: right;
}