header.home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.homepage-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: get-colour('background');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        text-decoration: none;
        padding: em(30px);
        position: relative;
        &:after {
            content: '';
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(-45deg, rgba(0,59,132,1) 0%, rgba(0,59,132,0) 100%);
            background: -webkit-linear-gradient(-45deg, rgba(0,59,132,1) 0%,rgba(0,59,132,0) 100%);
            background: linear-gradient(135deg, rgba(0,59,132,1) 0%,rgba(0,59,132,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b84', endColorstr='#00003b84',GradientType=1 );
        }
        &:last-child {
            &:after {
                transform: scaleX(-1);
            }
        }
        h2 {
            position: relative;
            z-index: 2;
            text-transform: uppercase;
            font-size: em(100px);
            transition: color $transition-time $transition-easing, transform $transition-time $transition-easing;
        }
        &:hover {
            h2 {
                color: get-colour('highlight');
                transform: scale(1.1);
            }
        }
    }
}