.page-title {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin: 0;
        text-transform: capitalize;
    }
    &.lyric-select {
        display: block;
    }
}